<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Mon site{% endblock %}</title>

    {# Tabler CSS #}
    <link href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler-flags.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler-payments.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler-vendors.min.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

{# Tabler JS #}
<body>
<div class="page">

    {# Navbar globale (affichée sur toutes les pages) #}
    {% include '_partials/_navbar.html.twig' %}

    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label == 'success' ? 'success' : (label == 'error' ? 'danger' : 'info') }} alert-dismissible shadow-sm border-0" role="alert">
                            <div class="d-flex">
                                <div>
                                    {{ message }}
                                </div>
                            </div>
                            <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </div>
        {% include '_partials/_footer.html.twig' %}
    </div>

</div>

{# Tabler JS #}
<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/js/tabler.min.js"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
