<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Mon site{% endblock %}</title>

    {# Tabler CSS #}
    <link href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler-flags.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler-payments.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler-vendors.min.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

{# Tabler JS #}
<body>
<div class="page">

    {# Navbar globale (affichée sur toutes les pages) #}
    {% include '_partials/_navbar.html.twig' %}

    <div class="page-wrapper">
        <div class="page-body">
            {% block body %}{% endblock %}
        </div>
    </div>

</div>

{# Tabler JS #}
<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/js/tabler.min.js"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
